//верхнее меню
.menu{
    padding: 106px 70px 20px 70px;
    max-width: 1440px;
    margin: auto;
    p{
        color: #333333 !important;
    }
    a{
        text-decoration: none;
    }
    .menu_text{
        a:hover{
            color: #2a7df9ce;
        }
        img{
            margin: 0 5px 0 5px;
        }
        .last{
          color: #333333 !important;
        }
        .last:hover{
          color: #333333;
        }
    }
    .menu_button{
        a{
            text-decoration: none;
            padding: 6px 30px 6px 30px;
            border: 1px solid #2A7CF9;
            border-radius: 6px;
            background-color: transparent;
        }
        .header_font_white{
            color: #2A7CF9;
        }
    }
}

    .menu_line{
        height: 1px;
        background-color: #E2E2E2;
        width: 100%;
    }

.content{
    max-width: 1440px;
    padding: 20px 70px;
    margin: auto;
    .content_inputs{
        flex-wrap: wrap;
        margin: 10px 0 30px 0;
        gap: 20px;

        .content_data{
            .article_title{
                line-height: 18px;
                margin: 0 0 5px 0;
                span{
                    color: #CA3636;
                }
            }
            input[type="text"]{
                width: 640px;
                height: 36px;
                border: 1px solid #E4E4E4;
                border-radius: 6px;
                padding: 10px;
            }
        }
    }
    .content_button{
        button{
            background-color: #2A7CF9;
            min-width: 182px;
            height: 44px;
            border-radius: 6px;
            border: none;
        }
        .header_font_white{
            line-height: 20px;
        }
    }
}

//адаптив
@media (max-width: 900px){
    .menu{
        padding-top: 86px;
    }
}
@media (max-width: 768px){
    .menu{
        padding: 80px 14px 14px 14px;
        margin-right: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        img{
            margin: 0 !important;
        }
    }
    .content{
        padding: 14px;
        .content_inputs{
            margin-bottom: 20px;   
            .content_data{
                width: 100%;
                input[type="text"]{
                    width: 100%;
                    height: 36px;
                }
            }
        }
        .content_button{
            button{
                width: 100%;
            }
        }
    }
}