@charset "UTF-8";
*, html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  background-color: white;
}

.header .header_content_adaptiv, .header .sidebar {
  display: none;
}

.header .header_content {
  max-width: 1440px;
  margin: auto;
  height: 80px;
  padding: 10px 70px 0 70px;
}

.header .header_content .header_content_catalog {
  padding: 4px 20px 4px 20px;
  width: 127px;
  height: 44px;
  background-color: #2A7CF9;
  border: 1px solid #2A7CF9;
  border-radius: 6px;
}

.header .header_content .header_content_catalog img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.header .header_content .header_content_catalog:hover {
  background: #1d4ed8;
}

.header .header_content .header_content_search input[type="text"] {
  width: 467px;
  height: 44px;
  border: 1px solid #2A7CF9;
  border-radius: 6px;
  padding: 15px 20px 15px 20px;
  font-size: 12px;
  color: #ACACAC;
  font-weight: 400;
}

.header .header_content .header_content_search button {
  width: 122px;
  height: 44px;
  background-color: #2A7CF9;
  border: 1px solid #2A7CF9;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 15px;
  margin-left: -10px;
}

.header .header_content .header_content_search button img {
  margin-left: 10px;
}

.header .header_content .header_content_menu .header_content_menu_info {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .header_content .header_content_menu .header_content_menu_info img {
  width: 20px;
  height: auto;
  margin-bottom: 3px;
}

.header .header_content .header_content_menu .header_content_menu_info a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10px;
  vertical-align: middle;
  color: #333333;
}

.header .header_line {
  background-color: #2A7CF9;
  width: 100%;
  height: 6px;
  border: 1px solid #2A7CF9;
}

.header_content_adaptiv {
  padding: 15px;
}

.header_content_adaptiv img {
  margin: 0 10px 0 10px;
}

.header_content_adaptiv input[type="text"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px 0 10px;
  height: 30px;
  border: 1px solid #2A7CF9;
  border-radius: 6px;
  padding-left: 30px;
  /* отступ чтобы текст не налезал на иконку */
  background-image: url("./images/header/search-grey.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  /* позиция иконки */
  background-size: 20px 20px;
  /* размер иконки */
  z-index: 10;
}

@media (max-width: 1440px) {
  .header_content {
    padding: 0 20px 0 20px !important;
  }
}

@media (max-width: 1220px) {
  .header .header_content .header_content_search input[type="text"] {
    width: auto;
  }
  .header .header_content .header_content_search button {
    width: auto;
    padding: 10px;
  }
  .header .header_content .header_content_catalog {
    width: auto;
    padding: 10px;
  }
}

@media (max-width: 900px) {
  .header .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header_content {
    display: none;
  }
  .header .header_content .header_content_search input[type="text"] {
    width: auto;
  }
  .header .header_content .header_content_search button {
    width: auto;
    padding: 10px;
  }
  .header .header_content_adaptiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* === SIDEBAR === */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: auto;
  background: #fff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2000;
}

.sidebar-header {
  background-color: #2A7CF9;
  width: 100%;
  padding: 12px 14px;
}

.sidebar-header .language .montserrat {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  font-weight: 600;
  margin-right: 5px;
}

.sidebar-catalog {
  padding: 12px 14px;
  border-bottom: 1px solid #E4E4E4;
}

.sidebar-catalog .top_categories_adaptiv {
  width: 100%;
  height: 40px;
  top: 80px;
  border-radius: 6px;
  background-color: #2A7CF9;
  padding: 8px 10px;
}

.sidebar-catalog .top_categories_adaptiv p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.sidebar-catalog .top_categories_adaptiv p::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/sidebar/icon_category.png");
}

.sidebar-user {
  padding: 12px 14px;
  border-bottom: 1px solid #E4E4E4;
}

.sidebar-user p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-user p::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/sidebar/icon_profile.png");
}

.sidebar-user_data {
  padding: 12px 14px;
  border-bottom: 1px solid #E4E4E4;
}

.sidebar-user_data p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.sidebar-user_data p:last-child {
  margin-bottom: 0;
}

.sidebar-user_data p::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar-user_data-cart::before {
  background-image: url("./images/sidebar/icon_cart.png");
}

.sidebar-user_data-favorites::before {
  background-image: url("./images/sidebar/icon_heart.png");
}

.sidebar-user_data-info::before {
  background-image: url("./images/sidebar/icon_info_square.png");
}

.sidebar-contacts {
  padding: 12px 14px;
  border-bottom: 1px solid #E4E4E4;
}

.sidebar-contacts .top_categories_adaptiv {
  width: 100%;
  height: 40px;
  top: 80px;
  border-radius: 6px;
  background-color: #2A7CF9;
  padding: 8px 10px;
}

.sidebar-contacts .top_categories_adaptiv p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.sidebar-contacts .top_categories_adaptiv p::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/sidebar/icon_call.png");
}

.sidebar-contacts .top_categories_adaptiv img {
  margin: 0;
}

.sidebar-info {
  padding: 12px 14px;
  border-bottom: 1px solid #E4E4E4;
}

.sidebar-info ul {
  list-style: none;
}

.sidebar-info ul li {
  color: #333333;
  margin-top: 10px;
}

.sidebar-dop {
  padding: 12px 14px;
}

.sidebar-dop ul {
  list-style: none;
}

.sidebar-dop ul li {
  color: #333333;
  margin-top: 10px;
}

.sidebar.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* затемнение */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1500;
}

.overlay.active {
  display: block;
}
/*# sourceMappingURL=header.css.map */