@charset "UTF-8";
.menu {
  padding: 106px 70px 10px 70px;
  max-width: 1440px;
  margin: auto;
}
.menu p {
  color: #333333 !important;
}
.menu a {
  text-decoration: none;
}
.menu .menu_text a:hover {
  color: rgba(42, 125, 249, 0.8078431373);
}
.menu .menu_text img {
  margin: 0 5px 0 5px;
}
.menu .menu_text .last {
  color: #333333 !important;
}
.menu .menu_text .last:hover {
  color: #333333;
}
.menu .menu_button a {
  text-decoration: none;
  padding: 6px 30px 6px 30px;
  border: 1px solid #2A7CF9;
  border-radius: 6px;
  background-color: transparent;
}
.menu .menu_button .header_font_white {
  color: #2A7CF9;
}

.select:last-child {
  margin-left: 20px;
}

.select {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  color: #333333;
}
.select .select-label {
  padding: 5px 10px;
}
.select .large {
  width: 192px;
}
.select-btn {
  min-width: 40px;
  padding: 6px 28px 6px 10px;
  border-left: 1px solid #e5e5e5;
  cursor: pointer;
  position: relative;
  line-height: 1.4;
}
.select-btn::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #2A7CF9;
  transform: translateY(-50%);
  pointer-events: none;
}
.select-list {
  position: absolute;
  top: calc(100% + 4px);
  min-width: 60px;
  right: 0;
  border: 1px solid #e5e5e5;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  display: none;
  z-index: 100;
  padding: 4px 0;
}
.select-item {
  padding: 6px 10px;
  cursor: pointer;
}
.select-item:hover {
  background: rgba(245, 245, 245, 0.768627451);
}
.select.open .select-list {
  display: block;
}

.menu_filter {
  padding: 10px 70px 20px 70px;
  max-width: 1440px;
  margin: auto;
}
.menu_filter .categories_font {
  font-size: 12px;
  color: #ACACAC;
  margin-left: 20px;
  margin-top: 10px;
}
.menu_filter .title_font {
  margin: 0;
}

.menu_line {
  height: 1px;
  background-color: #E2E2E2;
  width: 100%;
}

.categories_more_font {
  font-size: 10px;
  text-decoration: none;
  font-weight: 400;
}

.catalog_adaptiv {
  padding: 76px 14px 0 14px;
  display: none;
}
.catalog_adaptiv .catalog_adaptiv_content {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #2A7CF9;
  padding: 8px 10px;
}
.catalog_adaptiv .catalog_adaptiv_content p {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.catalog_adaptiv .catalog_adaptiv_content p::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/icon-category.png");
}

.filter_adaptiv {
  display: none;
}

.filter_adaptiv {
  padding: 10px 0 10px 0;
  width: 100%;
}
.filter_adaptiv .filter_adaptiv_content {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #2A7CF9;
  padding: 8px 10px;
}
.filter_adaptiv .filter_adaptiv_content p {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.filter-items {
  max-width: 1440px;
  padding: 0 70px;
  margin: auto;
}

.sidebar {
  padding: 15px;
  max-width: 244px;
  border-right: 1px solid #E2E2E2;
}
.sidebar .selected {
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 20px;
}
.sidebar .selected .article_title {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
}
.sidebar .selected .top_categories_links {
  color: #2a6df4;
  font-size: 12px;
  line-height: 20px;
}
.sidebar .selected .top_categories_links p {
  line-height: 12px;
}
.sidebar .selected .top_categories_links span {
  color: #333333;
  gap: 4px;
  white-space: nowrap;
}
.sidebar .selected .top_categories_links span::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin: 0 7px 0 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/icon-delete.png");
}
.sidebar .selected p {
  margin-bottom: 10px;
}
.sidebar .selected .reset {
  width: 100%;
  height: 30px;
  background: #2A7CF9;
  color: #fff;
  border: none;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
}
.sidebar .selected .reset:hover {
  background: rgb(12.0410714286, 85.3821428571, 233.1589285714);
}
.sidebar .selected .header_font_white {
  font-size: 12px;
  line-height: 20px;
}
.sidebar .filter {
  border-bottom: 1px solid #E2E2E2;
  padding: 10px 0;
}
.sidebar .filter .filter-header {
  margin: 10px 0;
}
.sidebar .filter .filter-body .checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  position: relative;
  margin-top: 15px;
}
.sidebar .filter .filter-body .checkbox input {
  display: none;
}
.sidebar .filter .filter-body .checkbox span {
  position: relative;
  padding-left: 22px;
  width: 100%;
}
.sidebar .filter .filter-body .checkbox span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  background: #fff;
  transition: 0.2s;
}
.sidebar .filter .filter-body .checkbox span::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background: #FFE158;
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s;
}
.sidebar .filter .filter-body .checkbox input:checked + span::before {
  background: #2A7CF9;
  border-color: #2A7CF9;
}
.sidebar .filter .filter-body .checkbox input:checked + span::after {
  opacity: 1;
}
.sidebar .filter .filter-body .price-filter {
  width: 100%;
  /* INPUTS */
}
.sidebar .filter .filter-body .price-filter .price-inputs {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}
.sidebar .filter .filter-body .price-filter .price-inputs input {
  width: 100%;
  height: 26px;
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  color: #333;
}
.sidebar .filter .filter-body .price-filter {
  /* RANGE */
}
.sidebar .filter .filter-body .price-filter .range {
  position: relative;
  height: 20px;
}
.sidebar .filter .filter-body .price-filter .range .slider {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .filter .filter-body .price-filter .range .slider .track {
  height: 3px;
  border-radius: 3px;
}
.sidebar .filter .filter-body .price-filter .range .slider .range-fill {
  position: absolute;
  height: 3px;
  background: #2A7CF9;
  border-radius: 3px;
  top: 0;
}
.sidebar .filter .filter-body .price-filter .range {
  /* скрываем дефолт */
}
.sidebar .filter .filter-body .price-filter .range input[type=range] {
  position: absolute;
  width: 100%;
  top: 0;
  height: 20px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  /* ТОЧКИ — как на скрине */
}
.sidebar .filter .filter-body .price-filter .range input[type=range]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 10px;
  height: 10px;
  background: #2A7CF9;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}
.sidebar .filter .filter-body .price-filter .range input[type=range]::-moz-range-thumb {
  pointer-events: auto;
  width: 10px;
  height: 10px;
  background: #2A7CF9;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.sidebar .filter.active .filter-body {
  display: block;
  margin-top: 15px;
}
.sidebar .filter.active .filter-header::after {
  background-image: url("./images/arrow_up_blue.png");
}
.sidebar .filter-header {
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.sidebar .filter-header::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/arrow_down_blue.png");
}
.sidebar .filter-body {
  margin-top: 10px;
  display: none;
}
.sidebar .filter-body label {
  display: block;
  margin: 5px 0;
  font-size: 14px;
}
.sidebar .filter-body .price-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.sidebar .filter-body .price-inputs input {
  width: 100%;
  padding: 5px;
}

.products_grid {
  display: grid;
  max-width: 1056px;
  padding: 0 0 20px 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
.products_grid .product_card {
  width: 100%;
  transition: opacity 0.3s;
  background: #fff;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  position: relative;
  padding: 10px;
}
.products_grid .product_card .image img {
  width: 100%;
  height: auto;
}
.products_grid .product_card .meta {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}
.products_grid .product_card .stars {
  color: #ffc400;
  font-size: 14px;
}
.products_grid .product_card .title {
  height: 45px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 100%;
  max-height: 300%;
}
.products_grid .product_card .price {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.products_grid .product_card .price-old {
  margin-top: -5px;
}
.products_grid .product_card .counter {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.products_grid .product_card .counter button {
  background: none;
  border: none;
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
.products_grid .product_card .counter input {
  width: 60px;
  height: 22px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.products_grid .product_card .buy {
  margin-top: 12px;
  height: 40px;
  background: #2A7CF9;
  border: none;
  width: 100%;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products_grid .product_card .buy .cart {
  gap: 8px;
  color: #FFE158;
  font-size: 12px;
}
.products_grid .product_card .buy:hover {
  background: #1d4ed8;
}
.products_grid .product_card .favorite {
  position: absolute;
  right: 10px;
}
.products_grid .product_card .discount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 30px;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  background-color: #FFE158;
  color: #2A7CF9;
}

.filter-body .top_categories_links .amount {
  color: #ACACAC !important;
  font-size: 12px !important;
}

.items_categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  max-width: 1056px;
  padding: 20px 0 20px 20px;
}
.items_categories .category {
  padding: 8px 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
  font-weight: 400;
}
.items_categories .category:hover {
  background: #eaeaea;
}
.items_categories .category.active {
  background: #fff;
  border-color: #4a90e2;
}

.more {
  width: 114px;
  height: 32px;
  background-color: #2A7CF9;
  border-radius: 6px;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
}

.bottom_products {
  text-align: center;
  margin-top: 20px;
}
.bottom_products .pagination {
  display: inline-flex;
  gap: 8px;
  margin-bottom: 10px;
  max-width: 490px;
  max-height: 40px;
}
.bottom_products .pagination .page {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  background: none;
  border-radius: 8px;
  color: #2A7CF9;
  cursor: pointer;
  transition: all 0.2s ease;
}
.bottom_products .pagination .page:hover {
  background: #e6e6e6;
}
.bottom_products .pagination .page.active {
  background: #2f6fed;
  color: #fff;
  border-color: #2f6fed;
}
.bottom_products .pagination .page.next {
  font-weight: bold;
}
.bottom_products .pagination-info {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #888;
}

@media (max-width: 900px) {
  .footer {
    margin-top: 0;
  }
  .menu {
    padding: 20px 14px 10px 14px;
  }
  .menu_line, .more {
    display: none;
  }
  .menu_button {
    display: none;
  }
  .catalog_adaptiv {
    display: flex;
  }
  .menu_filter {
    padding: 0 14px 10px 14px;
    flex-direction: column;
    align-items: start;
  }
  .menu_filter .amount {
    display: none;
  }
  .menu_filter .menu_filter_select {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .menu_filter .menu_filter_select .select {
    margin-left: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
  .filter_adaptiv {
    display: flex;
  }
  .sidebar {
    display: none;
  }
  .filter-items {
    padding: 14px;
  }
  .filter-items .items_categories {
    padding: 0;
  }
  .filter-items .products_grid {
    padding: 24px 0 0 0;
  }
  .filter-items .products_grid .product_card {
    min-width: 171px;
  }
}
@media (max-width: 1400px) {
  .products_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .products_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 900px) {
  .products_grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 14px;
    gap: 14px;
  }
  .products_grid .product_card {
    width: 100%;
    min-width: unset;
  }
}/*# sourceMappingURL=category.css.map */