//верхнее меню
.menu{
    padding: 106px 70px 10px 70px;
    max-width: 1440px;
    margin: auto;
    p{
        color: #333333 !important;
    }
    a{
        text-decoration: none;
    }
    .menu_text{
        a:hover{
            color: #2a7df9ce;
        }
        img{
            margin: 0 5px 0 5px;
        }
    }
    .menu_button{
        a{
            text-decoration: none;
            padding: 6px 30px 6px 30px;
            border: 1px solid #2A7CF9;
            border-radius: 6px;
            background-color: transparent;
        }
        .header_font_white{
            color: #2A7CF9;
        }
    }
}

.select:last-child{
    margin-left: 20px;
}
.select {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  color: #333333;
  .select-label{
    padding: 5px 10px;
  }

  .large{
    width: 192px;
  }

  &-btn {
    min-width: 40px;
    padding: 6px 28px 6px 10px;
    border-left: 1px solid #e5e5e5;
    cursor: pointer;
    position: relative;
    line-height: 1.4;

    &::after {
      content: "";
      position: absolute;
      right: 8px;
      top: 50%;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid  #2A7CF9;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  &-list {
    position: absolute;
    top: calc(100% + 4px);
    min-width: 60px;
    right: 0;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    display: none;
    z-index: 100;
    padding: 4px 0;
  }


  &-item {
    padding: 6px 10px;
    cursor: pointer;

    &:hover {
      background: #f5f5f5c4;
    }
  }

  &.open {
    .select-list {
      display: block;
    }
  }
}

.menu_filter{
    padding: 10px 70px 20px 70px;
    max-width: 1440px;
    margin: auto;
    .categories_font{
        font-size: 12px;
        color: #ACACAC;
        margin-left: 20px;
        margin-top: 10px;
    }
    .title_font{
        margin: 0;
    }
}

.menu_line{
    height: 1px;
    background-color: #E2E2E2;
    width: 100%;
}
.categories_more_font{
    font-size: 10px;
    text-decoration: none;
    font-weight: 400;
}

.sidebar {
  width: 300px;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
}

.catalog_adaptiv{
    padding: 76px 14px 0 14px;
    display: none;
    .catalog_adaptiv_content{
            width: 100%;
            height: 40px;
            border-radius: 6px;
            background-color: #2A7CF9;
            padding: 8px 10px;

            p{
                display: flex;
                align-items: center;
                font-weight: 500;
            }

            p::before{
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 10px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('./images/icon-category.png');
        }

    }
}

.filter_adaptiv, .menu_line{
    display: none;
}

.filter_adaptiv{
    padding: 10px 14px 10px 14px;
    display: none;
    width: 100vw;
    .filter_adaptiv_content{
            width: 100%;
            height: 40px;
            border-radius: 6px;
            background-color: #2A7CF9;
            padding: 8px 10px;

            p{
                display: flex;
                align-items: center;
                font-weight: 500;
            }
    }
}


.sidebar {
  .selected {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;

    p {
      margin: 4px 0;
      font-size: 14px;
    }

    span {
      color: #2a6df4;
    }

    .reset {
      width: 100%;
      background: #2a6df4;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 6px;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        background: darken(#2a6df4, 8%);
      }
    }
  }

  .filter {
    border-top: 1px solid #eee;
    padding: 10px 0;

    &.active {
      .filter-body {
        display: block;
      }
    }

    &-header {
      font-weight: bold;
      cursor: pointer;
      position: relative;

      &::after {
        content: "▾";
        position: absolute;
        right: 0;
      }
    }

    &-body {
      margin-top: 10px;
      display: none;

      label {
        display: block;
        margin: 5px 0;
        font-size: 14px;
      }

      .price-inputs {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;

        input {
          width: 100%;
          padding: 5px;
        }
      }
    }
  }
}


  @media (max-width: 900px) {
    .menu{
        padding: 20px 14px 10px 14px;
    }
    .menu_button{
      display: none;
    }
    .catalog_adaptiv{
        display: flex;
    }
    .menu_filter{
        padding: 0 14px 10px 14px;
        flex-direction: column;
        align-items: start;
        .amount{
            display: none;
        }
      .menu_filter_select{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    .filter_adaptiv{
        display: flex;
    }

}